<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Function</key>
	<dict>
		<key>Other</key>
		<dict>
			<key>Activity</key>
			<string>NO</string>
			<key>Developer_Downgrade</key>
			<string>NO</string>
			<key>Incompatible_watchOS</key>
			<string>NO</string>
			<key>Notifications</key>
			<string>NO</string>
			<key>Power_Reserve</key>
			<string>NO</string>
			<key>Siri_Dictation</key>
			<string>NO</string>
			<key>Unknown_OSS_Symptom</key>
			<string>NO</string>
			<key>Walkie_Talkie</key>
			<string>NO</string>
			<key>Others</key>
			<string>NO</string>
		</dict>
		<key>Safety</key>
		<dict>
			<key>Skin_irritation</key>
			<string>NO</string>
		</dict>
		<key>Battery</key>
		<dict>
			<key>Swollen_Battery</key>
			<string>NO</string>
		</dict>
		<key>Haptics</key>
		<dict>
			<key>No_Taptic_feedback</key>
			<string>NO</string>
			<key>Weak_Taptic_feedback</key>
			<string>NO</string>
		</dict>
		<key>Buttons </key>
		<dict>
			<key>Btn_tap_Press</key>
			<string>NO</string>
		</dict>
		<key>Mic</key>
		<dict>
			<key>Mic_Sound_quality</key>
			<string>NO</string>
			<key>Mic_No_sound</key>
			<string>NO</string>
		</dict>
		<key>Speaker</key>
		<dict>
			<key>No_sound</key>
			<string>NO</string>
			<key>Sound_quality</key>
			<string>NO</string>
		</dict>
		<key>Cellular</key>
		<dict>
			<key>Activating_Cellular_Plan</key>
			<string>NO</string>
			<key>Call_Issue_Call_Quality</key>
			<string>NO</string>
			<key>Cellular_Data</key>
			<string>NO</string>
			<key>No_Service_No_Signal</key>
			<string>NO</string>
		</dict>
		<key>Crown</key>
		<dict>
			<key>Rotation</key>
			<string>NO</string>
			<key>Tap_Press</key>
			<string>NO</string>
		</dict>
		<key>Touch</key>
		<dict>
			<key>Touch_issue</key>
			<string>NO</string>
		</dict>
		<key>WiFi_Bluetooth</key>
		<dict>
			<key>Connectivity_Pairing</key>
			<string>NO</string>
			<key>Unable_to_pair_with_iPhone</key>
			<string>NO</string>
			<key>Wi-Fi</key>
			<string>NO</string>
		</dict>
		<key>Power</key>
		<dict>
			<key>Battery_life</key>
			<string>NO</string>
			<key>Will_not_charge</key>
			<string>NO</string>
			<key>Will_not_power_on</key>
			<string>NO</string>
		</dict>
		<key>Display</key>
		<dict>
			<key>Pixels_Foreign_Material</key>
			<string>NO</string>
			<key>Display_Multiple_cracks</key>
			<string>NO</string>
			<key>Image_Quality</key>
			<string>NO</string>
			<key>Front_Glase Anomalies</key>
			<string>NO</string>
			<key>BlankScreen</key>
			<string>NO</string>
			<key>Brightness</key>
			<string>NO</string>
			<key>DarkSpots</key>
			<string>NO</string>
		</dict>
		<key>System_wide_issue</key>
		<dict>
			<key>Unusual_Temperature</key>
			<string>NO</string>
			<key>Unexpectedly_Restarting</key>
			<string>NO</string>
			<key>Temperature_ Alert</key>
			<string>NO</string>
			<key>Frozen_Apple_Logo</key>
			<string>NO</string>
			<key>Frozen_AtRed&quot;i&quot;</key>
			<string>NO</string>
			<key>Frozen_Unresponsive</key>
			<string>NO</string>
		</dict>
		<key>Sensors</key>
		<dict>
			<key>Wrist_Detection</key>
			<string>NO</string>
			<key>Health_Sensors</key>
			<string>NO</string>
			<key>GPS</key>
			<string>NO</string>
			<key>ECG/EKG_Sensor</key>
			<string>NO</string>
			<key>Activity_Motion Sensor</key>
			<string>NO</string>
			<key>Ambient Light Sensor</key>
			<string>NO</string>
			<key>Blood_Oxygen</key>
			<string>NO</string>
		</dict>
	</dict>
	<key>Cosmetic</key>
	<dict>
		<key>Crown</key>
		<dict>
			<key>Scratch</key>
			<string>NO</string>
			<key>Dent</key>
			<string>NO</string>
		</dict>
		<key>SPK</key>
		<dict>
			<key>Fiber</key>
			<string>NO</string>
			<key>Partcile</key>
			<string>NO</string>
			<key>Glue_Overﬂow</key>
			<string>NO</string>
			<key>Mesh_Shift</key>
			<string>NO</string>
		</dict>
		<key>BTN</key>
		<dict>
			<key>Pitting</key>
			<string>NO</string>
			<key>DifferenceMaterial</key>
			<string>NO</string>
			<key>Sag</key>
			<string>NO</string>
			<key>Stilt</key>
			<string>NO</string>
			<key>GAP</key>
			<string>NO</string>
			<key>feelingNG</key>
			<string>NO</string>
			<key>Contamination</key>
			<string>NO</string>
			<key>Discoloration</key>
			<string>NO</string>
			<key>Ano_chip_off</key>
			<string>NO</string>
			<key>Scratch</key>
			<string>NO</string>
			<key>Dent</key>
			<string>NO</string>
		</dict>
		<key>BCM</key>
		<dict>
			<key>Laser_NG</key>
			<string>NO</string>
			<key>Laser_Discoloration</key>
			<string>NO</string>
			<key>Stilt</key>
			<string>NO</string>
			<key>Convex_spot</key>
			<string>NO</string>
			<key>Contamination</key>
			<string>NO</string>
			<key>Shining_spot</key>
			<string>NO</string>
			<key>Discoloration</key>
			<string>NO</string>
			<key>Chip</key>
			<string>NO</string>
			<key>Scratch</key>
			<string>NO</string>
			<key>Dent</key>
			<string>NO</string>
		</dict>
		<key>HSG</key>
		<dict>
			<key>Over_polish</key>
			<string>NO</string>
			<key>White_Dot_or_Shiny_Line</key>
			<string>NO</string>
			<key>Discoloration</key>
			<string>NO</string>
			<key>Ano_chip_off</key>
			<string>NO</string>
			<key>Scratch</key>
			<string>NO</string>
			<key>Dent</key>
			<string>NO</string>
		</dict>
		<key>FCM</key>
		<dict>
			<key>CG-Stain</key>
			<string>NO</string>
			<key>Waviness</key>
			<string>NO</string>
			<key>Dimple</key>
			<string>NO</string>
			<key>Contamination</key>
			<string>NO</string>
			<key>WhiteDotOrShinyLine</key>
			<string>NO</string>
			<key>Discoloration</key>
			<string>NO</string>
			<key>Ink_peeling_off</key>
			<string>NO</string>
			<key>Scratch</key>
			<string>NO</string>
			<key>Dent</key>
			<string>NO</string>
		</dict>
	</dict>
	<key>Accessorys</key>
	<dict>
		<key>Accessory</key>
		<dict>
			<key>Band</key>
			<string>NO</string>
			<key>Issue_With_Accessory</key>
			<string>NO</string>
		</dict>
	</dict>
</dict>
</plist>
